<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="header">
    For the Love of Coffee  <a href="#!/view1" class="signInSignUpButton">Back to Home</a><input ng-model="$ctrl.query" class="tField" placeholder="Search Here..."/> 
</div>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="jquery-3.1.1.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <link rel="stylesheet" href="news_css.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src= "bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src= "bower_components/angular-bootstrap/ui-bootstrap.min.js" type="text/javascript"></script>
  <script src= "bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script>
  $(document).ready(function() {
    $(".container").css("display", "none");
 
    $(".container").fadeIn(2000);
 
    $("a.signInsignUpButton").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $(".container").fadeOut(1000, redirectPage);      
    });
	$("a.link").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $(".container").fadeOut(1000, redirectPage);      
    });
         
    function redirectPage() {
        window.location = linkLocation;
		$(".container").css("display", "none");
    	$(".container").fadeIn(2000);
    }
});
  </script>
</body>
</html>
