/* CSS Document */

body{
	background-image:url(coffeev2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto !important;
    float: none !important;
}
.header{
    width: inherit;
    height: 55px;
    margin-top:0 !important;
	background:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#CCC;
	border-bottom:#000 3px solid;
	text-align:left;
	margin-bottom:10px;
}
.register{
    display: block;
    position: inherit;
}

.signInRegisterDiv{
    text-align: right;
}
.signInSignUpButton {
	background-color:#6F4E37;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #FFF;
    margin-right: 10px;
	float:right;
	margin-top: 5px !important;
	margin-bottom:5px;
}
.signInSignUpButton:hover {
	background-color:#385970;
}
.signInSignUpButton:active {
	position:relative;
	top:1px;
}
.signInSignUpButton:visited {
	color:#ffffff;
}
.link{
	color:#FFF;
	text-decoration:underline;	
}
.link:hover{
	color:#CCC;	
}
.tField{
	height:40px;
	width:400px;
	float:right;
	margin-top: 5px;
	margin-right:10px;	
}
.table{
	background-color:#385970;
	border:#CCC 2px solid;
    font-family:'Josefin Sans', sans-serif;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align:center;
}
/*The following was taken from user A.M.K. on http://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load*/
.container{

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
h3.reviews{
	color:#FFF;
	float:left;	
}





